@import url("./reset.css");
@import url("./consulting.css");
@import url("./home.css");
@import url("./outsourcing.css");
@import url("./school.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

/* universal container */
.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-title {
  color: #757575;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 160%; /* 38.4px */
  letter-spacing: 2.4px;
}

.underlined {
  text-align: center;
  color: #333;
  font-size: 32px;
  font-weight: 900;
  line-height: 180%; /* 57.6px */
  margin-bottom: 70px;
}

.underlined:after {
  content: "";
  display: block;
  height: 3px;
  width: 140px;
  background: #dca840;
  z-index: 10;
  margin-bottom: -15px;
  margin: 0 auto;
  margin-top: 12px;
}

/* -----------header-nav */
.header-nav {
  padding-top: 16px;
  height: 92px;
  /* background: #fff; */
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.15); */
  margin-bottom: 10px;
  /* padding: 24px; */
}

.header-nav_container {
  width: 90%;
  /* max-width: 1320px; */
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 20px;
  button {
    padding: 8px 32px;
    height: 70px;
    background: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    &:active {
      transform: scale(0.9);
    }
    transition: 0.1s all;
  }
}
.nav {
  ul {
    display: flex;
    gap: 24px;
    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 180%;
      color: #333;
    }
  }
}
/* -------------header-nav */

/* header style start */
.header {
  background-image: url("../assets/img/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 539px;
  margin-bottom: 80px;
  .container {
    max-width: 1220px;
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
      margin-bottom: 142px;
      display: block;
    }
    h2 {
      font-size: 108px;
      font-weight: 700;
      line-height: 120%; /* 129.6px */
      margin-bottom: 15px;
    }
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 120%; /* 28.8px */
    }
  }
}
/* header style end */

/* contact section style start */
.contact-section {
  background-image: url("../assets/img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 77px 0 120px;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    text-align: center;

    b {
      font-family: "Montserrat", sans-serif;
      color: #757575;
      font-size: 24px;
      font-weight: 700;
      line-height: 160%; /* 38.4px */
      letter-spacing: 2.4px;
    }

    h2 {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      line-height: 200%; /* 64px */
      letter-spacing: 1.6px;
      margin-bottom: 20px;
    }

    p {
      color: #a7a7a7;
      font-size: 20px;
      font-weight: 400;
      line-height: 180%; /* 36px */
      margin-bottom: 30px;
    }

    button {
      color: #333;
      font-size: 16px;
      font-weight: 700;
      line-height: 180%; /* 28.8px */
      border: 1px solid #333;
      background: #fff;
      box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.25);
      padding: 12px 0;
      width: 316px;
    }
  }
}
/* contact section style end */

/* footer style start */
.footer {
  background: #1d1d1d;
  padding-bottom: 40px;
  .container {
    & > div {
      display: flex;
      justify-content: space-between;

      padding: 50px 0;

      div {
        display: flex;
        gap: 60px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 24px;

          li {
            color: #fff;
            font-family: "Noto Sans JP";
            font-size: 16px;
            font-weight: 400;
            line-height: 180%; /* 28.8px */
          }
        }
      }
    }

    p {
      text-align: center;
      color: #c5c5c5;
      font-size: 16px;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
      margin-top: 12px;
    }
  }
}
/* footer style end */

@media (max-width: 1200px) {
  .header-nav {
    ul {
      display: none;
    }
  }
  .feature {
    .cards {
      flex-wrap: wrap !important;
    }
  }
  .service {
    .container {
      flex-direction: column;
    }
  }
}

@media (max-width: 960px) {
  .footer {
    .container {
      & > div {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
    }
  }

  .feature-section {
    .container {
      .cards {
        .card {
          flex-direction: column-reverse;
          align-items: center;
          * {
            text-align: center !important;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .underlined:after {
    content: "";
    display: none !important;
  }

  .header-nav {
    height: 70px;
    img {
      max-width: 250px;
      width: 100%;
    }
    button {
      height: 50px;
    }
  }
  .feature {
    .container {
      .cards {
        justify-content: center;
        flex-direction: column;
        .card {
          max-width: 90wv;
          width: 100%;
          flex: 1;
          background: transparent;
          overflow: hidden;
          margin-bottom: 0;

          * {
            margin: 0 auto;
            text-align: center;
          }
          img {
            width: 90%;
            margin: 0 auto;
          }
          .pattern {
            display: none;
          }
          .text_wrapper {
            box-shadow: none;
            text-align: center !important;
            width: 90%;
            padding: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    min-height: 250px;
    background: none;
    .container {
      span {
        margin-bottom: 40px;
      }
      h2 {
        font-size: 52px;
      }
    }
  }
  img {
    max-width: 90vw;
    margin: 0 auto;
  }
  .service_title {
    font-size: 24px !important;
    line-height: 120% !important;
  }
  .nav_wrapper,
  .header-nav_container {
    padding: 0;
    height: 50px;

    img {
      max-width: 200px !important;
    }
    button {
      padding: 4px !important;
      height: 35px;
    }
  }

  .underlined {
    font-size: 24px;
  }
  section {
    margin-bottom: 40px !important;
  }
  .cards {
    margin-bottom: 40px !important;
    flex-direction: column !important;
  }
  .footer {
    .container {
      div {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
  section {
    .container {
      & > h2 {
        font-size: 24px !important;
        margin-bottom: 20px !important;
      }
      p {
        font-size: 14px;
      }
    }
  }
  /* p {
    font-size: 16px !important;
  } */

  .card {
    margin-top: 0 !important;
    max-width: 95vw !important;
    flex-direction: column !important;
  }
  .service-menu-cards {
    .service-menu-cards {
      .card {
        max-width: 300px !important;
        display: none !important;
      }
    }
  }
  .step {
    background: none !important;
  }
}
