@import url("./reset.css");
@import url("./style.css");

.service-section {
  padding: 50px;
  margin-bottom: 80px;
  .container {
    padding: 50px;
    text-align: center;

    p {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
    }
  }
}

.propose-section {
  margin-bottom: 240px;
  .container {
    h2 {
      color: #000101;
      font-size: 32px;
      font-weight: 700;
      line-height: 200%; /* 64px */
      letter-spacing: 1.6px;
      margin-bottom: 74px;
      text-align: center;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .card {
        max-width: 313px;
        background-image: url("/assets/images/propose-card.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 432px;
        display: flex;
        align-items: end;
        padding: 16px;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: translateY(-20px);
        }

        &:hover > .content {
          max-height: 400px;
        }

        .content {
          transition: 0.3s ease-in-out;
          max-height: 43px;
          cursor: pointer;
          overflow: hidden;

          h3 {
            color: #fff;
            text-align: justify;
            font-size: 24px;
            font-weight: 700;
            line-height: 180%; /* 43.2px */
            letter-spacing: 1.2px;
            margin-bottom: 16px;
          }

          p {
            color: #fff;
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 180%; /* 28.8px */
            letter-spacing: 0.8px;
          }
        }
      }
    }
  }
}

.flow-section {
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  h2 {
    color: #000101;
    font-size: 32px;
    font-weight: 700;
    line-height: 200%; /* 64px */
    letter-spacing: 1.6px;
    text-align: center;
    margin-bottom: 40px;
  }
  .steps {
    .step {
      background-image: url("/assets/images/dk-bg.png");
      background-repeat: no-repeat;
      position: relative;
      z-index: 10;
      min-height: 634px;
      transform: translateY(-200px);
      padding-top: 78px;
      background-size: 100%;

      /* background-position: center;
      background-size: cover; */

      .container {
        div {
          max-width: 520px;
          margin: 0 auto 0 0;
        }
      }
      * {
        position: relative;
        z-index: 100;
      }
      b {
        color: #dca840;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 180%; /* 28.8px */
      }
      .underlined {
        color: inherit;
        text-align: start;
        margin-bottom: 40px;
      }
      .underlined::after {
        margin: 0 !important;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 180%; /* 28.8px */
      }
    }
    .step:first-child,
    .step:last-child {
      background-image: url("/assets/images/wh-bg.png");
    }
    .step:first-child {
      z-index: 1;
      transform: translateY(0px);
    }
    .step:nth-child(3) {
      z-index: 100;
      transform: translateY(-400px);
    }
    .step:nth-child(2) {
      .container {
        /* display: flex;
        justify-content: end; */
        /* width: 100%; */
        /* padding-top: 170px; */
        div {
          max-width: 540px;
          color: #fff;
          /* margin-left: auto; */
          padding-top: 50px;
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

.topper {
  margin: -400px 0 100px 0;
}

.link-button {
  margin-bottom: 100px;
  text-align: center;
  button {
    border: 1px solid var(--Gold, #dca840);
    background: #333;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%; /* 28.8px */
    font-family: inherit;
    max-width: 548px;
    width: 100%;
    padding: 12px 0;
  }
}

.feature-section {
  margin-bottom: 140px;
  .container {
    h2 {
      text-align: center;
      color: #000101;
      font-size: 32px;
      font-weight: 700;
      line-height: 200%; /* 64px */
      letter-spacing: 1.6px;
      margin-bottom: 60px;
    }

    .cards {
      .card {
        display: flex;
        align-items: center;
        gap: 57px;
        margin-bottom: 48px;
        b {
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 180%; /* 28.8px */
        }
        .underlined {
          color: inherit;
          text-align: start;
          margin-bottom: 40px;
          font-size: 32px;
        }
        .underlined::after {
          margin: 0 !important;
        }
        p {
          color: #000;
          font-size: 16px;
          font-weight: 400;
          line-height: 180%; /* 28.8px */
        }
        .link-button {
          margin-top: 40px;
          max-width: 300px;
        }
      }
      .card:nth-child(2) {
        flex-direction: row-reverse;
      }
    }
  }
}

.case-study-section {
  /* position: relative; */

  .container {
    h2 {
      color: #000101;
      font-size: 32px;
      font-weight: 700;
      line-height: 200%; /* 64px */
      letter-spacing: 1.6px;
      text-align: center;
      margin-bottom: 80px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        margin-bottom: 150px;
        max-width: 328px;

        .picture {
          position: relative;

          button {
            position: absolute;
            right: 21px;
            bottom: 21px;
            color: #000;
            font-size: 16px;
            font-weight: 700;
            font-family: inherit;
            padding: 25px 14px;
            border: none;
            border-radius: 50%;
            background: #fff;
            vertical-align: middle;
          }
        }
      }

      .card:nth-child(3n + 2) {
        transform: translateY(90px);
      }
    }

    h3 {
      color: #000;
      font-size: 18px;
      font-weight: 700;
      line-height: 180%; /* 32.4px */
      letter-spacing: 0.9px;
      margin-bottom: 24px;
    }

    p {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
      letter-spacing: 0.8px;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 100;
  position: absolute;

  left: 0;

  .modal-container {
    border-radius: 20px;
    border: 1px solid var(--Gold, #dca840);
    background: #fff;
    padding: 20px;
    max-width: 1130px;
    margin: 0 auto;
    max-height: 90vh;
    overflow: auto;
    width: 100%;

    .modal-content {
      border-radius: 20px;
      border: 1px solid var(--Gold, #dca840);
      text-align: center;

      button {
        background: #fff;
        border: none;
        display: block;
        margin-left: auto;
        margin-top: 20px;
        margin-right: 40px;
        color: #000;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: var(--Gold, #dca840);
        font-size: 32px;
        font-weight: 700;
        line-height: 100%; /* 32px */
        font-family: inherit;
      }

      h2 {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 17px;
      }
      p {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 180%; /* 28.8px */
        max-width: 608px;
        margin: 0 auto 64px;
      }
    }
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}
