.service-menu-section {
  margin-bottom: 80px;
  .container {
    max-width: 1210px;
    h2 {
      color: #000101;
      text-align: center;
      font-family: "Noto Sans JP";
      font-size: 32px;
      font-weight: 700;
      line-height: 200%; /* 64px */
      letter-spacing: 1.6px;
      text-align: center;
    }

    div {
      b {
        color: var(--Gold, #dca840);
        font-size: 16px;
        font-weight: 700;
        line-height: 180%; /* 28.8px */
        margin-bottom: 24px;
      }
      .row {
        margin-bottom: 40px;
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        gap: 24px;
      }
      .card {
        border: 1px solid var(--Gray, #c5c5c5);
        background: #fff;
        max-width: 341px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 68px;
        padding: 20px;

        p {
          color: #000;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          line-height: 160%; /* 25.6px */
          letter-spacing: 1.6px;
        }
      }
    }
  }
}

.commitment-section {
  margin-bottom: 80px;

  .container {
    text-align: center;

    .section-title {
      color: #000;
      text-align: center;
      font-family: "Noto Sans JP";
      font-size: 16px;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
    }

    .underlined {
      margin-bottom: 40px;
    }
    p {
      color: #000;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

.outsourcingfeature-section {
  margin-bottom: 0;
}

.outsourcing-cards {
  gap: 0;
  .card .content p b {
    font-weight: 700 !important;
  }
  .card:nth-of-type(2) {
    margin-top: 0;
  }
  .card:nth-of-type(3) {
    margin-top: 0;
  }
}

#service-menu-cards {
  .cards {
    justify-content: start !important;
  }
  .card:nth-of-type(2) {
    margin-top: 0;
  }
  .card:nth-of-type(3) {
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .service-menu-section .card {
    flex-direction: row !important;
    width: 90% !important;
    margin: 0 auto;
  }
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1d1d99;
  z-index: 1000;
  display: none;
}

/* Popup content */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 1103px;
  padding: 14px 16px;
  border-radius: 20px;
}

.popup-inner {
  padding: 119px 100px 78px;
  border: 1px solid var(--Gold, #DCA840);
  border-radius: 20px;
}

.popup-content h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 46.34px;
  padding-bottom: 17px;
}

.popup-content p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
}

/* Close button */
.close-popup {
  position: absolute;
  top: 31px;
  right: 32px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.close-popup:hover {
  color: #000;
}
