.btn-contact {
    background-color: var(--btn-bg-color);
    color: var(--bg-color) !important;
    padding: 20.5px 32px;
    transition: background-color 0.3s;
    border: 1px solid var(--Gold, #DCA840);
    box-shadow: 0px 0px 9px 4px #00000040;
    border-radius: 0;

}

.btn-contact:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: ripple 1.5s infinite;
    color: #fff;
  }
  

.btn-news {
    min-width: 250px;
    background-color:  var(--btn-bg-color);
    color: var(--bg-color) !important;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border: 1px solid var(--Gold, #DCA840);
    box-shadow: 0px 0px 9px 4px #00000040;

}

.btn-news:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: ripple 1.5s infinite;
  color: #fff;
}


@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 #d60000;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(214, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(214, 0, 0, 0);
  }
}
