/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transparent.non-sticky {
  background: transparent;
}

.transparent {
  background: transparent;
  box-shadow: none;
}

.logo-dark {
    display: none;
}

/* Nav Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
}

/* Logo */
.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.nav-logo img {
  width: 419px;
  height: auto;
  transition: width 0.3s ease;
}

.nav-logo span {
  font-size: 19.2px;
  font-weight: 600;
  margin-left: 10px;
}

/* Nav Links */
.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--primary);
}

/* Burger Menu Visibility (default: hidden on desktop) */
.burger-menu {
  display: none;
}

@media (max-width: 1200px) {
    .nav a {
        font-size: 12px;
    }
    .nav-logo img {
      width: 280px;
    }
}

@media (max-width: 992px) {
  .nav {
    display: none;
    flex-direction: column; /* Stack links vertically */
    background-color: var(--bg-color);
    position: absolute;
    top: 56px; /* Adjust based on your header height */
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 90%;
    height: 100vh;
    gap: 24px;
  }

  .nav a {
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
  }

  .nav-logo img {
    width: 220px;
  }

  .nav.active {
    display: flex; /* Show menu when active */
  }
  .nav__list {
    display: none;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 1000;
  }

  /* Show navigation when burger menu is clicked */
  .nav__list.active {
    display: flex;
  }

  /* Burger menu for mobile */
  .burger-menu {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }

  /* Burger icon lines */
  .burger-menu span {
    background-color: #333;
    height: 3px;
    width: 30px;
    transition: 0.3s;
    display: block;
  }

  /* Burger icon to X when active */
  .burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  /* Mobile menu items styling */
  .nav__list li {
    padding: 10px 0;
  }
}
