@media (max-width: 768px) {
    .hero-container {
        position: absolute;
        top: 20%;
        left: 5%;
    }
    .mobile-menu {
        display: block;
    }

    nav {
        display: none;
    }

    .hero h1 {
        font-size: 48px;
    }

    .message-content {
        flex-direction: column;
    }

    .info-row {
        grid-template-columns: 1fr;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .footer-content,
    .footer-links {
        grid-template-columns: 1fr;
    }

    .code-of-conduct {
        display: block;
    }
}