.message {
    background-image: url("../../assets/about-us/director.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 2rem;
}

.message h2 {
    color: var(--primary);
    font-size: 1rem;
    margin-bottom: 10px;
}

.message h3 {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 40px;
}

.message-content {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.message-text {
    max-width: 500px;
    color: white;
}

.message-text p {
    margin-bottom: 20px;
}

.signature {
    text-align: right;
    margin-top: 40px;
}

.message-image {
    flex: 1;
}

.message-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.ceo-text-opacity-low {
    opacity: 0.6;
}

.company-info {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}

.company-info-item {
    display: flex;
}

.company-info-item-heading {
    flex: 1;
    border-bottom: 1px solid black;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.company-info-item-body {
    flex: 3;
    padding: 1rem;
    border-bottom: 1px solid rgba(159, 156, 156, 0.45);
}

.table {
    width: 100%;
}

.info-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
}

.info-row dt {
    font-weight: 600;
}

.info-row ul {
    list-style-type: none;
}

.info-row li {
    margin-bottom: 10px;
}