.business-hero {
    /*position: absolute;*/
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}
.business-hero > h1 {
    font-size: 4rem;
    max-width: 900px;
}
.business-hero-title {
    position: absolute;

    width: 100%; /* Optional, depending on your content */
    text-align: center;
    color: white;
    z-index: 999;
}


.about-title{
    font-size: 2rem;
}

.business-table-data{
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 3rem 1rem;
    border-bottom: 1px solid var(--text-color);
}
.business-table-data-heading{
    align-self: center;
    flex: 1;
    font-weight: bolder;
    color: black;
}
.business-table-data-body{
    align-self: start;
    flex:6;
    color: black;

}

.intern-container{
    display: flex;
}

@media (max-width: 1200px) {
    .business-hero {
        /*position: absolute;*/
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    .business-hero > h1 {
        font-size: 2rem;
        max-width: 900px;
    }
    .intern-container{
        display: revert;
    }
}