
.news-details-header-bg{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 80%;
    z-index:-1;
}


.news-heading {
    font-size: 56px;
    color: black !important;
}

.business-heading {
    font-size: 24px;
    color: black !important;
}
.business-heading:after {
    content: "";
    display: block;
    height: 5px;
    width: 10%;
    background-color: #DCA840;
}

.news-heading:after {
    content: "";
    display: block;
    height: 5px;
    width: 10%;
    background-color: #DCA840;
}

.news-details-fv {
    padding-left: 5%;
}

.news-details-image{
    width: 50% !important;
    margin:  auto;
}
.news-subheading-underline:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 5px;
    background-color: black;
}

.news-details-content {
    padding: 0 4.5%;
}


.news-body-text{
    margin: 48px 0 56px;
}

.news-subheading-left-border {
    border-left: 3px solid black;
    padding-left: 16px;
}

@media (max-width: 768px) {
    .news-heading {
        font-size: 42px;
    }
    .news-details-image {
        width: 90% !important;
    }
}



