.news-details-header-bg {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 80%;
  z-index: -1;
}

.news-heading {
  font-size: 40px;
  color: black !important;
  padding-bottom: 21px;
}

.business-heading {
  font-size: 24px;
  color: black !important;
}
.business-heading:after {
  content: "";
  display: block;
  height: 5px;
  width: 10%;
  background-color: #dca840;
}

.news-heading:after {
  content: "";
  display: block;
  height: 5px;
  width: 10%;
  background-color: #dca840;
}

.news-details-fv {
  padding-left: 10%;
  margin-top: 70px;
}

.news-details-fv {
  h3:first-of-type {
    font-size: 16px;
    font-weight: 700;
    line-height: 23.17px;
  }
  h3:last-of-type {
    font-size: 12px;
    font-weight: 700;
    line-height: 17.38px;
  }
}

.news-details-image {
  width: 50% !important;
  margin: auto;
}
.news-subheading-underline:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  margin-top: 5px;
  background-color: black;
}

.news-details-content {
  padding: 0 4.5%;
  h3, p {
    color: #000;
  }
  .btn-news {
    min-width: 332px;
    padding: 12px 20px;
  }
}

.news-body-text {
  margin: 48px 0 56px;
}

.news-subheading-left-border {
  border-left: 3px solid black;
  padding-left: 16px;
}

@media (max-width: 768px) {
  .news-heading {
    font-size: 42px;
  }
  .news-details-image {
    width: 90% !important;
  }
}
